*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
}


nav {
    height: 60px;
    width: 100%;
    background-color: #686D76;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2vw;
    color: whitesmoke;
    border-bottom: 5px solid black;
}

.rules {
    background-color: #e0e0e0;
}
.rules h1 {
    text-align: center;
    border: 3px solid black;
}
.Renglish, .Rhindi {
    border: 3px solid black;
}
.rules ol {
    margin: 2vw;
    padding: 4.5vw;
    font-size: 2vw;
}


.groundpdf , .firstpdf {
    margin: 4vw;
}

/* .groundinfo , .firstinfo  {

} */
.group1, .group2, .group3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #b2b2b2;
    width: 100%;
    height: 400px;
    border-bottom: 2px solid black;
}

.space {
    height: 200px;
    width: 100%;
}
.G1 {
    background-color: #FDFFE2;
    margin: 3vw;
    width: 27%;
    height: 300px;
}

.G1 h1 {
    text-align: center;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.G1 ul {
    margin: 35px;
    font-size: 2vw;
    line-height: 4vw;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #e0e0e0;
    height: 60px;
    width: 100%;
    border-top: 7px solid black;
}



@media (max-width: 1024px) {
    .G1 {
        width: 100%;
    }
    .groundpdf, .firstpdf {
        margin: 2vw;
        height: auto;
        width: 100%;
    }
    .G1 ul {
        font-size: 3vw;
        line-height: 4vw;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
    .G1 ul {
        font-size: 4vw;
        line-height: 5vw;
    }
}

@media (max-width: 600px) {
    .G1 ul {
        font-size: 5vw;
        line-height: 6vw;
    }
    .group1, .group2, .group3 {
        flex-direction: column;
        width: 100%;
    }
}



